.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App,
.ant-layout,
#root {
  height: 100%;
}

.appMenu {
  margin-top: 50px;
  text-align: left;
  padding: 0px 20px;
}
.appMenu div {
  font-size: 1.2rem;
  padding: 10px 0;
}
.registDockerServer .dataRow {
  padding: 10px 0;
  text-align: left;
}
.registDockerServer .dataRow > div {
  display: inline-block;
  text-align: left;
}
.registDockerServer .dataRow .dataLabel {
  min-width: 150px;
}
.registDockerServer .dataField input {
  width: 200px;
}